<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="Internet measurement, internet speed, velocity, speed" />
  <meta name="author" content="GrapeiaTech" />
  <title>Velocirapid - Internet Speedtest</title>
  <meta name="description" content="Velocirapid - the fast and free internet speed measurement" />
  <meta name="keywords" lang="en"
    content="speed,test,speedtest,speed test,bandwidth speed test,internet speed test,broadband speed test,speakeasy,flash,cnet,internet,network,connection,broadband,bandwidth,latency,ping,throughput,download,upload,connection,dsl,adsl,cable,t1,isp,voip,ip,ip address,tcp,velocity,fast,speed,test,internet,net" />

  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="Velocirapid - Internet Speed Measurement">
  <meta name="twitter:description" content="Velocirapid - the fast and free internet speed measurement offers by dino">
  <meta name="twitter:image" content="https://velocirapid.com/images/velociraptor.webp">

  <meta property="og:title" content="Velocirapid - Internet Speed Measurement" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://velocirapid.com" />
  <meta property="og:image" content="https://velocirapid.com/images/velociraptor.webp" />
  <meta property="og:description"
    content="Velocirapid - the fast and free internet speed measurement" />
  <meta property="og:site_name" content="Velocirapid - Internet Speed Fast Measurement" />

  <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
  <style><%- css %>
  </style>
</head>

<body>
  <main>
    <h2 id="ip">&nbsp;</h2>
    <h3 id="download">VELOCIRAPID</h3>
    <h3 id="upload">&nbsp;</h3>
  </main>
  <div class="velociraptor"><img width="640" height="360" alt="The dino speed" src="images/velociraptor.webp"></div>
  <footer><h1>VELOCIRAPID</h1>Copyright © GrapeTech</footer>
  <script><%- js %></script>
</body>

</html>