body {
	font-family: Roboto, sans-serif;
	margin: 0;
	font-size: 5vh;
	font-weight: 400;
	overflow: hidden;
	color: #fff;
	background-color: #000;
	background: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.3) 0,
			rgba(0, 0, 0, 0.7) 75%,
			#000 100%
		),
		url(/images/bg.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

main {
	position: absolute;
	top: 35%;
	width: 100%;
	transform: translate(0, -50%);
	padding: 10px;
	text-align: center;
}

h1,
h2,
h3 {
	background: -webkit-linear-gradient(#fff, rgba(238, 238, 238, 0.3));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

h1 {
	font-size: 2vh;
}

h2 {
	font-size: 2vh;
	line-height: 2.5vh;
}

h3 {
	font-size: 5vh;
	line-height: 6vh;
}

footer {
	position: absolute;
	bottom: 1%;
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8rem;
	width: 100%;
	text-align: center;
}

.velociraptor {
	position: absolute;
	bottom: 2px;
	text-align: left;
	margin-left: 4px;
}

img {
	width: auto;
	height: 30vh;
}
